:root {
	--white: rgb(224, 224, 224);
	--black: rgb(24, 24, 24);
	--link: rgb(0, 36, 240);
	--orange: rgb(255, 123, 0);
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

html, body {
	font-family: sans-serif;
	background-color: var(--white);
	color: var(--black);
	max-width: 80vw;
	margin: auto;
	padding: 1rem;
}

input {
	border-radius: 0.5rem;
	border: solid 0.1rem var(--black);
	background-color: var(--white);
	color: var(--black);
	margin: 0.15rem 0 0.15rem 0;
	padding: 0.3rem;
}

input[type=text] {
	padding: 0.5rem;
}

input[type=button] {
	padding: 0.3rem;
}

input[type=button]:hover {
	cursor: pointer;
}

input[type=button]:focus {
	outline: none;
}

input[type=button].primary {
	background-color: var(--orange);
}

input:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input:focus, button:focus {
	outline-style: solid;
	outline-color: var(--orange);
}


body > header {
	min-width: 100%;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	background-color: var(--orange);
}

body > header > h1 {
	font-size: 1.5rem;
}

#add-bookmark {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-top: 1rem;
	margin-bottom: 1rem;
	gap: 0.5rem;
}

#bookmarks {
	display: flex;
	flex-direction: column-reverse;
	gap: 0.5rem;
}

#bookmarks > a {
	max-width: fit-content;
	color: var(--link) 
}

#bookmarks > a:visited {
	color: var(--link) 
}